* {
    margin: 0;
    padding: 0;
}

.mastercontainer {
    margin-top: 2vw;
    margin-left: 5vw;
}

.container {
    display: flex;
}

body {
    /* background-image: url(images/botw2.jpg);
    background-size: cover;*/
    background-color: #d9cfb2;
}


.textcontainer {
    display: flex;
    justify-content: space-evenly;
    margin: 2vw 22vw 0vw 37vw;
    text-align: center;
}

.textbox1 {
    background:#f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox1:hover {
    transform: scale(1.1);
}

.textbox2 {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox2:hover {
    transform: scale(1.1);
}

.textbox3 {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox3:hover {
    transform: scale(1.1);
}

.maintextbox {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 35vw;
    padding: 20px;
    margin-left: 3vw;
    margin-top: 2vw;
}

.verticalline {
    background-color: black;
    float: left;
    width: 1px;
    height: 400px;
    margin-left: 2vw;
    margin-top: 15vh;
}

.linkimg {
    margin-left: 15vw;
    margin-top: 8vh;
    float: left;
}

.logoimg {
    margin-left: 9vw;
    margin-top: 3vw;
}

a {
    color: black;
}

a:hover {
    color: darkgray;
}