* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/botw2.jpg);
    background-size: cover;
}

h1 {
    color: white;
    margin: 20px;
    font-size: 5vw;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 7vw;
    margin-right: 35vw;
    text-align: center;
}

.textbox1 {
    background: white;
    border: 1px solid gray;
    width: 8vw;
    height: .2vw;
    padding: 30px;
    margin: 0px;
}

.textbox2 {
    background-color: white;
    border: 1px solid gray;
    width: 8vw;
    height: .2vw;
    padding: 30px;
    margin: 0 auto;
}

.textbox3 {
    background-color: white;
    border: 1px solid gray;
    width: 8vw;
    height: .2vw;
    padding: 30px;
}