* {
    margin: 0;
    padding: 0;
}

.mastercontainer {
    margin-top: 2vw;
    margin-left: 5vw;
}

.container {
    display: flex;
}

body {
    background-color: #d9cfb2;
    cursor: url("cursor.cur"), auto;
}


.textcontainer {
    display: flex;
    justify-content: space-evenly;
    margin: 2vw 22vw 0vw 37vw;
    text-align: center;
}

.textbox1 {
    background:#f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox1:hover {
    transform: scale(1.1);
}

.textbox2 {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox2:hover {
    transform: scale(1.1);
}

.textbox3 {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 10vw;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.textbox3:hover {
    transform: scale(1.1);
}

.maintextbox {
    background-color: #f2e8c9;
    border: 1px solid gray;
    width: 35vw;
    padding: 20px;
    margin-left: 3vw;
    margin-top: 2vw;
}

.verticalline {
    background-color: black;
    float: left;
    width: 1px;
    height: 400px;
    margin-left: 2vw;
    margin-top: 15vh;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-timing-function: ease-in;
}

.linkimg {
    margin-left: 15vw;
    margin-top: 8vh;
    float: left;

    animation-name: slide-down;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-timing-function: linear;
}

.logoimg {
    margin-left: 9vw;
    margin-top: 1vw;

    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-timing-function: ease-in;
}

a {
    color: black;
}

a:hover {
    color: darkgray;
}

@keyframes slide-down {
    from {
        transform: translateY(-600px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;}
}